@model CapRaffle.Models.EventViewModel

@{
    ViewBag.Title = "Details";
}

    <script type="text/javascript">
        $(document).ready(function () {
            $(".participants form").submit(function (e) {
                $.post($(this).attr("action"),
                    $(this).serialize(),
                    function (data) {
                        location.reload();
                    });
                e.preventDefault();
            });

            $("form#adminAddParticipant").submit(function (e) {
                $.post($(this).attr("action"),
                    $(this).serialize(),
                    function (data) {
                        location.reload();
                    });
                e.preventDefault();
            });

            $("#removeparticipation").click(function (e) {
                @if (Model.UserIsParticipant) {
                    <text>
                    var postdata = { UserEmail: '@Model.LoggedInParticipant.UserEmail', NumberOfSpots: '@Model.LoggedInParticipant.NumberOfSpots', EventId: '@Model.LoggedInParticipant.EventId' };
                    </text>
                }
                
                $.ajax({
                    url: '@Url.Action("Delete", "Participant")',
                    type: 'POST',
                    data: postdata,
                    success: function (data) {
                        location.reload();
                    }
                });
            });
            $("#adminUserEmailTextbox").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("GetUsers", "Participant")',
                        data: { email: request.term },
                        dataType: "json",
                        success: function(data) {
                            response(data)
                        },
                        error: function(data) {
                            alert(data)
                        }
                    });
                },
                minLength: 2
            });
        });
    </script>
    <div class="right">
        <div class="participants">
        <h2>Participants</h2>
            <table>
                <tr><th>Name</th><th>Number of spots</th></tr>
                @foreach (var participant in Model.SelectedEvent.UserEvents)
                {
                    <tr><td>@participant.User.Name</td><td>@participant.NumberOfSpots</td></tr>
                }
            </table>
            @if (@HttpContext.Current.User.Identity.IsAuthenticated)
            {
                using (Html.BeginForm("Create", "Participant", FormMethod.Post, new { id = "addParticipant" }))
                {
                    @Html.AntiForgeryToken()   
                    <input type="hidden" name="UserEmail" value="@HttpContext.Current.User.Identity.Name" />
                    <input type="hidden" name="EventId" value="@Model.SelectedEvent.EventId" />
            
                    <label for="NumberOfSpots">@(Model.UserIsParticipant ? "Update" : "Choose") number of spots</label>
                    @Html.DropDownList("NumberOfSpots", Model.numberofSpots)    
                <!--<input type="text" name="NumberOfSpots" />-->
            
                    <input type="submit" value="@(Model.UserIsParticipant ? "Update number of spots" : "Register for this event")" />
                }
                if (Model.UserIsParticipant)
                {
                    <button id="removeparticipation">Delete participation</button>
                }
            }
            else
            {
                <p>Sign in if you want to register for this event:</p>
            }
        </div>
        <div class="eventadministration">
            @if (@HttpContext.Current.User.Identity.Name.Equals(Model.SelectedEvent.Creator))
            {   
                <h2>Event administration</h2>
                using (Html.BeginForm("Delete", "Event"))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("id", Model.SelectedEvent.EventId)
        
                    <input type="submit" value="Delete event" />
                }
                <button>@Html.ActionLink("Edit event", "Edit", new { id = @Model.SelectedEvent.EventId })</button>
                
                <h4>Register User for this event</h4>
                using (Html.BeginForm("Create", "Participant", FormMethod.Post, new { id = "adminAddParticipant" }))
                {
                    @Html.AntiForgeryToken()
                    <input id="adminUserEmailTextbox" type="text" name="UserEmail" />
                    <input type="hidden" name="EventId" value="@Model.SelectedEvent.EventId" />
                    @Html.DropDownList("NumberOfSpots", Model.numberofSpots) 
                    <input id="adminAddParticipant" type="submit" value="Add participant" />
                }
            }
        </div>
    </div>
    <div class="event">
        <h3 class="eventheader">@Model.SelectedEvent.Name</h3>
        <h6 style="">Created by: @Model.SelectedEvent.Creator on @Model.SelectedEvent.Created.ToString("dd MMM yyyy") under @Model.SelectedEvent.Category.Name</h6>
        <p>@Model.SelectedEvent.Description</p>
        <p>@(Model.SelectedEvent.InformationUrl == null ? "" : "More information about the event: " + Model.SelectedEvent.InformationUrl)</p>
        <h4>Number of available spots: @Model.SelectedEvent.AvailableSpots</h4>
        <h4>Deadline: @Model.SelectedEvent.DeadLine</h4>
    </div>

    <br />
    <script type="text/javascript">
        $(document).ready(function () {
            $('button#DrawWinner').click(function () {
                //alert("FUNKER")
                $.ajax({
                    type: 'post',
                    url: '@Url.Action("DrawWinner", "DrawWinner")',
                    data: 'eventId=@Model.SelectedEvent.EventId',
                    success: function(data){ 
                        $('.drawWinner').append(data)
                    }
                })
            });
        });
    </script>
    <div class="bottom">
        <div class="drawWinner">
            <button id="DrawWinner">Draw winners</button>
        </div>
   </div>
   

