@model CapRaffle.Domain.Model.Event

@{
    ViewBag.Title = ViewBag.action;
}

<script>
    $(function () {
        $("#Deadline").datepicker({ dateFormat: 'dd.mm.yy'});
    });
</script>

<h2>Create</h2>
<div class="eventForm">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    
    @Html.HiddenFor(x => x.EventId)
    <p>
    @Html.LabelFor(x => x.Name)
    <br />
    @Html.EditorFor(x => x.Name)
    </p><p>
    @Html.LabelFor(x => x.Description)
    <br />
    @Html.EditorFor(x => x.Description)
    </p><p>
    @Html.LabelFor(x => x.AvailableSpots)
    <br />
    @Html.EditorFor(x => x.AvailableSpots)
    </p><p>
    @Html.LabelFor(x => x.CategoryId)
    <br />
    @Html.EditorFor(x => x.CategoryId)
    </p><p>
    @Html.LabelFor(x => x.InformationUrl)
    <br />
    @Html.EditorFor(x => x.InformationUrl)
    </p><p>
    @Html.LabelFor(x => x.DeadLine)
    <br />
    @Html.EditorFor(x => x.DeadLine)
    </p>
    
        
    <p>
        <input type="submit" value="Register event" /></p>
}
</div>