@model CapRaffle.Models.EventsListViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Liste over Events</h2>

@foreach (var e in Model.Events)
{
    <div class="event">
        <h3 class="eventheader">@Html.ActionLink(e.Name, "Details", new { id = e.EventId }) </h3>
        <h6 style="">Created by: @e.Creator on @e.Created.ToString("dd MMM yyyy") under @e.Category.Name</h6>
        <p>@e.Description</p>
        <p>@(e.InformationUrl == null ? "" : "More information about the event: " + e.InformationUrl)</p>
        <h4>Number of available spots: @e.AvailableSpots</h4>
        <h4>Deadline: @e.DeadLine</h4>
    </div>

}
