@model CapRaffle.Models.EventsListViewModel
@{
    ViewBag.Title = "Index";
}

<script src="@Url.Content("~/Scripts/jquery.tablesorter.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#eventTable").tablesorter();
    }); 
</script>
<h2>List of Events</h2>
<table id="eventTable" class="tablesorter"> 
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Available spots</th>
            <th>Deadline</th>
            <th>Created by</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var e in Model.Events)
        {
            <tr>
                <td>@Html.ActionLink(e.Name, "Details", new { id = e.EventId })</td>
                <td>@e.Category.Name</td>
                <td>@e.AvailableSpots</td>
                <td>@e.DeadLine</td>
                <td>@e.Creator</td>
            </tr>
        }
    </tbody>
</table> 