@model CapRaffle.Models.LogOnViewModel
@{
    ViewBag.Title = "CapRaffle";
}
<p>
    Please log in:</p>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <p>
    @Html.LabelFor(x => x.Email)
    <br />
    @Html.EditorFor(x => x.Email)
    </p>
    <p>
    @Html.LabelFor(x => x.Password)
    <br />
    @Html.EditorFor(x => x.Password)
    </p>
    <p>
        <input type="submit" value="Log in" /></p>
}
@Html.ActionLink("Register here", "Register")