@model CapRaffle.Models.LogOnViewModel
@{
    ViewBag.Title = "CapRaffle";
}
<p>Please log in:</p>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <p>
    @Html.LabelFor(x => x.Email)
    <br />
    @Html.EditorFor(x => x.Email)
    </p>
    <p>
    @Html.LabelFor(x => x.Password)
    <br />
    @Html.EditorFor(x => x.Password)
    </p>
    <p>
        <a class="button" href="#" id="login" onclick="this.blur();"><span>Log in</span></a>
        @if (TempData["ForgotPassword"] != null)
        {
            <a class="button" href="#" id="forgotPassword" onclick="this.blur();"><span>Send a new password</span></a>
        }
    </p>
}

@Html.ActionLink("Register here", "Register")


<script type="text/javascript">
    $(function () {
        $("#login").click(function () {
            var form = $(this).parents('form:first');
            form.attr('action', '/Account/LogOn');
            form.submit();
        });

        $("#forgotPassword").click(function () {
            var form = $(this).parents('form:first');
            form.attr('action', '/Account/ForgotPassword');
            form.submit();
        });
    }); 
</script>