@model CapRaffle.Models.LogOnViewModel
@{
    ViewBag.Title = "CapRaffle";
}
<p>Please log in:</p>
@using (Html.BeginForm("LogOn", "Account", FormMethod.Post, new { onsubmit = "", id = "LogInForm" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("returnUrl", Request.QueryString["ReturnUrl"]);
    @Html.ValidationSummary(true)
    <p>
    @Html.LabelFor(x => x.Email)
    <br />
    @Html.EditorFor(x => x.Email)
    </p>
    <p>
    @Html.LabelFor(x => x.Password)
    <br />
    @Html.EditorFor(x => x.Password)
    </p>
        <div class="buttons">
            <button type="submit" class="positive" name="save">
                <img src="@Url.Content("~/Content/images/apply2.png")" alt=""/>
                Log on
            </button>
        
        @if (TempData["ForgotPassword"] != null)
        {
            <button type="submit" class="regular"  id="forgotPassword">
                <img src="@Url.Content("~/Content/images/help.png")" alt=""/>
                Send a new password
            </button>
        }
        </div>
}
<div class="buttons">
    <button type="submit" class="regular" name="register" id="register" onclick="javascript:window.location=('@Url.Action("Register", "Account")')">
        <img src="@Url.Content("~/Content/images/plus.gif")" alt=""/>
        Register
    </button>
</div>


<script type="text/javascript">

    $(function () {
        $("#login").click(function () {
            var form = $('#LogInForm');
            form.attr('action', '/Account/LogOn');
        });

        $("#forgotPassword").click(function () {
            var form = $('#LogInForm');
            form.attr('action', '/Account/ForgotPassword');
        });
    }); 
</script>