@model CapRaffle.Domain.Model.User
@{
    ViewBag.Title = "Personal Page for " + Html.ViewContext.HttpContext.User.Identity.Name;
}

<script type="text/javascript">
    $(function () {
        var $ChangeNameDialog = $('<div></div>')
		.dialog({
		    autoOpen: false,
		    title: 'Change your name',
            modal: true,
		    open: function (event, ui) {
		        $(this).load('@Url.Action("ChangeNamePartial", "Account")');
		    }
		});

		var $ChangePasswordDialog = $('<div></div>')
		.dialog({
		    autoOpen: false,
		    title: 'Change your password',
		    modal: true,
		    minHeight: 150  ,
            minWidth: 600,
		    open: function (event, ui) {
		        $(this).load('@Url.Action("ChangePasswordPartial", "Account")');
		    }
		});

        $('#ChangeName').click(function () {
            $ChangeNameDialog.dialog('open');
            return false;
        });

        $('#ChangePassword').click(function () {
            $ChangePasswordDialog.dialog('open');
            return false;
        });
    });
</script>
<h3>User info</h3>
<table style="border-spacing: 0px">
<tr style="background-color: #E6EEEE"><td>Name:</td><td>@Model.Name</td></tr>
<tr><td>E-mail:</td><td>@Model.Email</td></tr>
</table>
<br />
<h3>Statistics</h3>
@{Html.RenderAction("UserStatisticPartial", "Statistic");}
<br />
<div class="buttons">
    <button type="submit" class="regular" name="ChangeName" id="ChangeName">
        <img src="@Url.Content("~/Content/images/textfield_key.png")" alt=""/>
        Change name
    </button>
        <button type="submit" class="regular" name="ChangePassword" id="ChangePassword">
        <img src="@Url.Content("~/Content/images/textfield_key.png")" alt=""/>
        Change password
    </button>
</div>
<br />
<br />
<br />
