@model CapRaffle.Domain.Model.User
@{
    ViewBag.Title = "Register";
}

<h2>Registration</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <p>
    @Html.LabelFor(x => x.Email)
    <br />
    @Html.EditorFor(x => x.Email)
    @Html.ValidationMessageFor(x => x.Email)
    </p>
    <p>
    @Html.LabelFor(x => x.Name)
    <br />
    @Html.EditorFor(x => x.Name)
    @Html.ValidationMessageFor(x => x.Name)
    </p>
    <p>
    @Html.LabelFor(x => x.Password)
    <br />
    @Html.EditorFor(x => x.Password)
    @Html.ValidationMessageFor(x => x.Password)
    </p>
    <p>
    @Html.LabelFor(x => x.PasswordAgain)
    <br />
    @Html.EditorFor(x => x.PasswordAgain)
    @Html.ValidationMessageFor(x => x.PasswordAgain)
    </p>
    <p><input type="submit" value="Register" /></p>
}

<script type="text/javascript">
    $(document.getElementById("Email")).change(function () {
        var name = $(document.getElementById("Email")).val();
        if ((name.indexOf(".") > 0) && (name.indexOf("capgemini.com") > 0)) {
            name = name.replace("capgemini.com", "");
            name = name.replace("-", " ");
            name = name.replace(".", " ");
            name = name.substring(0, name.length - 1);
            $(document.getElementById("Name")).val(name);
        }
    }).change();
</script>