@model CapRaffle.Domain.Model.User
@{
    ViewBag.Title = "Register";
}
<h2>Registration</h2>
<script type="text/javascript">

        jQuery.validator.unobtrusive.adapters.addBool('validemail');

</script>
@{ Html.EnableUnobtrusiveJavaScript(true); Html.EnableClientValidation(); }
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
    @Html.LabelFor(x => x.Email)
    <br />
    @Html.TextBoxFor(x => x.Email)
    @Html.ValidationMessageFor(x => x.Email)
    </p>
    <p>
    @Html.LabelFor(x => x.Name)
    <br />
    @Html.EditorFor(x => x.Name)
    @Html.ValidationMessageFor(x => x.Name)
    </p>
    <p>
    @Html.LabelFor(x => x.Password)
    <br />
    @Html.EditorFor(x => x.Password)
    @Html.ValidationMessageFor(x => x.Password)
    </p>
    <p>
    @Html.LabelFor(x => x.PasswordAgain)
    <br />
    @Html.EditorFor(x => x.PasswordAgain)
    @Html.ValidationMessageFor(x => x.PasswordAgain)
    </p>
    <div class="buttons">
        <button type="submit" class="positive" name="register">
            <img src="@Url.Content("~/Content/images/apply2.png")" alt=""/>
            Register
        </button>
    </div>
}

<script type="text/javascript">
    $(document.getElementById("Email")).change(function () {
        var name = $(document.getElementById("Email")).val();
        if ((name.indexOf(".") > 0) && (name.indexOf("capgemini.com") > 0)) {
            name = name.replace("capgemini.com", "");
            name = name.replace("-", " ");
            name = name.replace(".", " ");
            name = name.substring(0, name.length - 1);
            name = name.replace(/\w\S*/g, function (word) { return word.charAt(0).toUpperCase() + word.substr(1).toLowerCase(); })
            $(document.getElementById("Name")).val(name);
        }
    }).change();
</script>